/* Common styles for all devices */
.search-container {
  background-color: #ffffff;
  border-radius: 0.5rem;
  justify-content: center;
  margin: 0 5rem; /* Adjust margins as needed */
}

.search-labelBox-border {
  margin: 2rem 3rem;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  /* border: 2px solid red; */
}

.search-container-wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  height: auto;
  /* border: 2px solid red; */
  padding: 10px;
  background-image: linear-gradient(rgb(9, 18, 68), #003290);
}

.search-labelBox {
  display: flex;
  flex-direction: column;
  font-size: large;
  gap: 5px;
  padding: 2rem;
  border: 1px solid rgb(232, 232, 232);
  /* border: 2px solid red; */
  width: 250px;
}

.search-labelBox label {
  font-size: smaller;
}

.search-labelBox-size {
  height: 40px;
  width: auto;
  font-size: 15pX;
  /* font-weight: bold; */
}

.search-labelBox input[type="text"] {
  width: 100%; /* Use 100% width to adapt to different screens */
  padding: 8px;
  font-size: 16px;
  border: 0.5;
  /* background-color: whitesmoke; */
  outline: 0;
}

.search-button-container {
  width: 100%;
  display: flex;
  justify-content: center;
  padding-bottom: 1rem;
  /* border: 2px solid red; */
}

.search-button-container button {
  background-color: rgb(9, 18, 68);
  border-radius: 80px;
}
.search-button-container button:last-child {
  background-color: red;
  color: #000000;
  margin-left: 10px;
}

.flight-container, .hotels-container {
  position: relative;
}

/* Media query for screens smaller than a specific width (adjust the width as needed) */
@media (max-width: 768px) {
  .search-container {
    margin: 0 2rem; /* Adjust margins for smaller screens */
  }

  .search-labelBox {
    font-size: medium; /* Adjust font size for smaller screens */
  }
}
