body {
    background: #dbeaf4;
    font-size: 17px;
  }
  .mix-container{ 
    display: flex;
  }
  .ticket-container, .hotels-container{
    max-width: 800px;
    width: 100%;
    margin: 10px auto 50px 20px;   
  }
  
  * { 
    box-sizing: border-box;
  }
  .ticket-data{
    margin-top: 1rem;
  }
  .ticket-data th{
    text-align: left;    
  }
 
  .ticket-btn {
    margin-left: 30rem;
    background-color: #003290;
    border-radius: 80px;
    padding: 15px 35px; /* Add padding for better visual appearance */
    color: #fff; /* Set text color to white */
  
    /* Add hover effect */
    transition: background-color 0.2s; /* Smooth transition */
  }
  
  .ticket-btn:hover {
    background-color: #0055b3; /* Change background color on hover */
  }
  
  /* Add click effect (active state) */
  .ticket-btn:active {
    background-color: #001b59; /* Change background color when clicked */
  }

/* In your existing CSS file (e.g., searchContainer.css or a new CSS file) */

.not-available-message {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100%; /* Ensure it takes the full height of its container */
  /* background-color: #ffcccc; */
  color: #091244;
  padding: 10px;
  font-size: 38px;
  text-align: center;
  margin-top: 20px;
}


  
  .bp-card {
    position: relative;
    margin-top: 2rem;
    margin-bottom: 2rem;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  }
  
  .bp-card_label {
    position: absolute;
    top: 30px;
    left: 0;
    bottom: 30px;
    width: 130px;
    background: white;
    cursor: pointer;
  }
  
  .bp-card_label::before {
    content: "";
    background-color: transparent;
    background-image: url('https://s3-us-west-2.amazonaws.com/s.cdpn.io/372262/ticket-top.svg');
    background-size: contain;
    background-repeat: no-repeat;
    width: 130px;
    height: 100px;
    position: absolute;
    top: -30px;
    left: 0;
  }
  
  .bp-card_label::after {
    content: "";
    background-image: url('https://s3-us-west-2.amazonaws.com/s.cdpn.io/372262/ticket-bottom.svg');
    background-size: contain;
    background-position: bottom left;
    background-repeat: no-repeat;
    width: 130px;
    height: 100px;
    position: absolute;
    bottom: -30px;
    left: 0;
  }
  
  .bp-card_label .bd-border_dotted {
    content: "";
    width: 0;
    border-right: 5px dashed #F0F0F0;
    height: 100%;
    position: absolute;
    top: 0;
    right: 40px;
  }
  
  .bp-card_label .bd-border_solid {
    content: "";
    width: 3px;
    border-radius: 3px;
    background: #003290;
    height: 100%;
    position: absolute;
    top: 0;
    left: calc(130px / 3.1);
  }
  
  .bp-card_content {
    position: relative;
    background: white;
    border-top-right-radius: 3px;
    border-bottom-right-radius: 3px;
    width: calc(100% - 130px);
    margin-left: calc(130px - 1px);
    padding: 35px;
  }
  
  .bp-card_content h4 {
    font-size: 40px;
    margin: 0 140px 0 0;
  }
  
  .bp-card_content p.secondary {
    color: #003290;
    margin: 0;
    padding-top: 10px;
  }
  
  .bp-card_content ul {
    list-style: none;
    margin: 50px 0 0 0;
    padding: 0;
  }
  
  .bp-card_content ul span {
    display: block;
    color: #A8A8A8;
  }
  
  .bp-card_content ul li {
    padding: 0;
    display: inline-block;
    padding-right: 30px;
  }
  
  .bp-card_content a.price {
    color: #003290;
    text-decoration: none;
    position: absolute;
    top: 35px;
    right: 35px;
    font-size: 36px;
    background: transparentize(#003290, 0.9);
    padding: 10px;
    border-radius: 3px;
  }
  
  /* Media queries for mobile and tablet */
@media only screen and (max-width: 600px) {
  .ticket-btn {
    margin-left: 3.9rem;
  }

  .ticket-container,
  .hotels-container {
    width: 90%;
    margin: 5px auto 50px 10px;
  }

  .bp-card_label {
    top: 0;
    left: 0;
    bottom: 0;
    width: calc(100% - 40px);
    margin-left: 20px;
    height: 120px;
    position: relative;
  }

  .bp-card_label::after,
  .bp-card_label::before {
    transform: rotate(90deg);
    transform-origin: top left;
    width: 126px;
    top: -2px;
  }

  .bp-card_label::after {
    left: 80px;
    right: auto;
  }

  .bp-card_label::before {
    left: auto;
    right: -146px;
  }

  .bp-card_label .bd-border_dotted {
    width: 100%;
    border-top: 4px dashed #F0F0F0;
    border-right: none;
    height: 4px;
    top: 92px;
    left: 0;
  }

  .bp-card_label .bd-border_solid {
    width: 80%;
    background: #003290;
    height: 3px;
    top: 45px;
    left: 10%;
  }

  .bp-card_content {
    margin-left: 0;
    width: 100%;
    padding: 3% 5% 5% 5%;
  }

  .bp-card_content h4 {
    font-size: 32px;
    margin: 0;
  }

  .bp-card_content ul {
    margin: 20px 0 0 0;
    padding: 0;
  }

  .bp-card_content ul span {
    display: block;
    color: #A8A8A8;
  }

  .bp-card_content ul li {
    padding: 0;
    display: inline-block;
    width: 100%;
    padding-right: 30px;
    margin-bottom: 5px;
  }

  .bp-card_content a.price {
    position: relative;
    width: 100%;
    display: block;
    margin: 0 auto;
    top: auto;
    right: auto;
    margin-top: 20px;
    text-align: center;
  }

  .bp-card_content a.price:before {
    content: "";
    background: url('http://imgh.us/i-arrow.svg') center no-repeat;
    background-size: contain;
    position: absolute;
    right: 22px;
    top: 22px;
    width: 20px;
    height: 20px;
  }
}
 
/* Media query for tablets */
@media only screen and (min-width: 768px) and (max-width: 1024px) {
  .ticket-btn {
    margin-left: 18rem;
  }

  .bp-card_content h4 {
    font-size: 32px;
    margin: 0 500px 0 0;
  }

  .bp-card_content ul li {
    padding-right: 20px;
  }

  .bp-card_content a.price {
    font-size: 30px;
    top: 25px;
    right: 120px;
    padding: 8px;
  }
  .ticket-container, .hotels-container{
    /* max-width: 1000px; */
    width: 100%;
    margin: 10px 500px 50px 20px;   
    padding-right: 80px;
  }
}